@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f8fbfc;
  --dark-blue: #061d3d;
  --light-blue: #033353;
  --gradient: linear-gradient(
    180deg,
    rgb(4.679733412340283, 71.7154973745346, 116.40600889921188) 0%,
    rgb(4.687025221064687, 71.4795832335949, 116.10000371932983)
      8.068740367889404%,
    rgb(4.70849359408021, 70.7849957048893, 115.199064463377)
      15.536592900753021%,
    rgb(4.743528664112091, 69.65148612856865, 113.72879415750504)
      22.495999932289124%,
    rgb(4.7915200889110565, 68.09879064559937, 111.71480342745781)
      29.039406776428223%,
    rgb(4.851857051253319, 66.14666059613228, 109.1827104985714)
      35.25925874710083%,
    rgb(4.92393015883863, 63.81483972072601, 106.15811079740524)
      41.24799966812134%,
    rgb(5.007128119468689, 61.12306796014309, 102.66663014888763)
      47.09807336330414%,
    rgb(5.100841540843248, 58.09108905494213, 98.73387157917023)
      52.90192365646362%,
    rgb(5.204460080713034, 54.73865054547787, 94.38544571399689)
      58.75200033187866%,
    rgb(5.317373396828771, 51.08549617230892, 89.64695557951927)
      64.74074125289917%,
    rgb(5.438970671966672, 47.151365876197815, 84.54402700066566)
      70.96059322357178%,
    rgb(5.5686425138264894, 42.956007197499275, 79.1022478044033)
      77.50399708747864%,
    rgb(5.705778105184436, 38.51916387677193, 73.34725141525269)
      84.46340560913086%,
    rgb(5.84976757876575, 33.860579654574394, 67.30462566018105)
      91.9312596321106%,
    rgb(6.000000117346644, 29.000000171363354, 61.00000016391277) 100%
  );
}

body {
  font-family: "sansation" sans-serif;
  background: var(--white);
}
